<div>
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="contact-info d-flex align-items-center">
                <span>Join Our Movement <a [routerLink]="'/registration'" [routerLinkActive]="['active']">Sign up</a> విద్యార్దుల రాజకీయపార్టీలో చేరండి</span>
                <!--            <i class="bi bi-envelope d-flex align-items-center">-->
                <!--                <a href="mailto:contact@example.com">contact@example.com</a>-->
                <!--            </i>-->
                <!--            <i class="bi bi-phone d-flex align-items-center ms-4"><span></span></i>-->
            </div>
            <!--        <div class="social-links d-none d-md-flex align-items-center">-->
            <!--            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>-->
            <!--            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
            <!--            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>-->
            <!--            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>-->
            <!--        </div>-->
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container-fluid d-flex align-items-center justify-content-around">

            <!--        <h1 class="logo"><a href="index.html">BizLand<span>.</span></a></h1>-->
            <span><img src="../../assets/Images/vrplogo.jpg"/></span>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar" [ngClass]="showMobileMenu === true ? 'navbar-mobile' : ''">
                <ul>
                    <li><a class="nav-link scrollto " href="#hero">Home</a></li>
                    <li class="dropdown"><a [routerLinkActive]="['active']"><span>About</span>
                        <i class="bi" [ngClass]="showDropDownMenu === true ? 'bi-chevron-up' : 'bi-chevron-down'"
                           (click)="showDropDown()"></i></a>
                        <ul [ngClass]="showDropDownMenu === true ? 'dropdown-active' : ''">
                            <li><a  [routerLink]="'/about'" [routerLinkActive]="['active']">About</a></li>
                            <li><a href="#">Election Symbol</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">State Secretary</a></li>
                            <li><a href="#">Why We Are Different</a></li>
                        </ul>
                    </li>
                    <!--                <li><a class="nav-link scrollto" href="#services">Services</a></li>-->
                    <!--                <li><a class="nav-link scrollto " href="#portfolio">Gallery</a></li>-->
                    <li class="dropdown"><a href="#"><span>Media</span>
                        <i class="bi" [ngClass]="showDropDownMenu === true ? 'bi-chevron-up' : 'bi-chevron-down'"
                           (click)="showDropDown()"></i></a>
                        <ul [ngClass]="showDropDownMenu === true ? 'dropdown-active' : ''">
                            <li><a href="#">News</a></li>
                            <li><a href="#">Press Realese</a></li>
                            <li><a href="#">Videos</a></li>
                            <li><a href="#">Offical Spokepersopn</a></li>
                            <li><a [routerLink]="'/gallery'" [routerLinkActive]="['active']">Gallery</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Elections</span>
                        <i class="bi" [ngClass]="showDropDownMenu === true ? 'bi-chevron-up' : 'bi-chevron-down'"
                           (click)="showDropDown()"></i></a>
                        <ul [ngClass]="showDropDownMenu === true ? 'dropdown-active' : ''">
                            <!--                        <li><a href="#">Drop Down 1</a></li>-->
                            <!--                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
                            <!--                            <ul>-->
                            <!--                                <li><a href="#">Deep Drop Down 1</a></li>-->
                            <!--                                <li><a href="#">Deep Drop Down 2</a></li>-->
                            <!--                                <li><a href="#">Deep Drop Down 3</a></li>-->
                            <!--                                <li><a href="#">Deep Drop Down 4</a></li>-->
                            <!--                                <li><a href="#">Deep Drop Down 5</a></li>-->
                            <!--                            </ul>-->
                            <!--                        </li>-->
                            <li><a href="#">Manifest</a></li>
                            <li><a href="#">Khammam  Elections</a></li>
                            <!--                        <li><a href="#">Drop Down 4</a></li>-->
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto"  [routerLink]="'/registration'" [routerLinkActive]="['active']">Registration</a></li>
                    <li><a class="nav-link scrollto" [routerLink]="'/contact'" [routerLinkActive]="['active']">Contact</a></li>
                </ul>
                <i class="bi mobile-nav-toggle" [ngClass]="showMobileMenu === true ? 'bi-x' : 'bi-list'" (click)="toggleMenu()"></i>
            </nav><!-- .navbar -->

        </div>
    </header>
</div>
