<app-header></app-header>
<section id="about" class="about section-bg-custom text-white">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <!--                        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>-->
                <h3 class="fst-italic" style="font-size: 40px !important;">
                    బరిసెలు వద్దు! బందూకులూ వద్దు!!
                    ఓటు మన ఆయుధం! విజయమే మన గమ్యం!!
                    బూర్జువా, భూస్వాముల పాలనకు పాతర వేద్దాం!
                    అక్షరాలే..ఆయుధాలై..మాటలే.. తూటాలై..
                    బిగించిన పిడికిలే..ఉద్యమ కెరటాలై..
                    సాగుదాం..శ్రమ జీవుల సంక్షేమంకై..పోరాడుదాం..నిరుద్యోగుల ఉజ్వల భవితవ్యానికై..ఇదే మన నినాదం..విద్యార్థుల రాజకీయ పార్టీ నాదం..YS
                </h3>
            </div>
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="../../assets/Images/mem1.webp" class="img-fluid" alt="">
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>
