<div class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-user"></i> Users</h1>
            <p></p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a (click)="goToDashboard()" class="fa fa-home fa-lg breadcrumb-home-link"></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Users</a></li>
        </ul>
    </div>
    <!--    <div class="row">-->
    <!--        <div class="col-sm-1 offset-11 text-right form-group mt-3 mb-3">-->
    <!--            <button class="btn btn-sm btn-primary" (click)="addUser()">Add User</button>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row  mt-3 mb-3">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Search by mobile number"
                                   [(ngModel)]="query.phoneNumber"
                                   [ngModelOptions]="{standalone: true}" />
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" [(ngModel)]="query.state"
                                    [ngModelOptions]="{standalone: true}" (ngModelChange)="getAllDistricts(query.state)">
                                <option selected value="">--Select State--</option>
                                <option *ngFor="let state of states" value="{{state._id}}">{{state.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" [(ngModel)]="query.district"
                                    [ngModelOptions]="{standalone: true}" (ngModelChange)="getAllMandals(query.district)">
                                <option selected value="">--Select District--</option>
                                <option *ngFor="let district of districts" value="{{district._id}}">{{district.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" [(ngModel)]="query.mandal"
                                    [ngModelOptions]="{standalone: true}">
                                <option selected value="">--Select Mandal--</option>
                                <option *ngFor="let mandal of mandals" value="{{mandal._id}}">{{mandal.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2 mt-auto mb-auto">
                            <button (click)="getAllUser()" class="btn btn-sm btn-success">Search</button>
                            <button (click)="resetFilters()" class="btn btn-sm btn-danger ml-2">Reset</button>
                        </div>
                        <div class="col-sm-1 offset-1 mt-auto mb-auto">
                            <button (click)="downloadExcel()" class="btn btn-sm btn-primary">Download Excel</button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover custom-table">
                            <thead class="thead-dark">
                            <tr class="text-left">
                                <th>S.No</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Father Name</th>
                                <th scope="col">Mother Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email</th>
                                <th scope="col">State</th>
                                <th scope="col">District</th>
                                <th scope="col">Mandal</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of listOfAllUsers; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{user.firstName + ' ' + user.lastName}}</td>
                                <td>{{user.fatherFirstName + ' ' + user.fatherLastName}}</td>
                                <td>{{user.motherFirstName + ' ' + user.motherLastName}}</td>
                                <td>{{user.phoneNumber}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.state}}</td>
                                <td>{{user.district}}</td>
                                <td>{{user.mandal}}</td>
                                <!--                                <td>{{apiService.getRoleName(user.role)}}</td>-->
                                <td>
                                    <!--                                            <button class="btn btn-sm btn-success"-->
                                    <!--                                                    (click)="editUser(user._id)" title="Edit User">-->
                                    <!--                                                <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>-->
                                    <!--                                            </button>-->
                                    <button (click)="deleteUser(user._id)"
                                            class="btn btn-sm btn-primary ml-1" title="Delete User">
                                        <i aria-hidden="true" class="fa fa-trash fa-1x"></i>
                                    </button>
                                    <button (click)="resetPass(user)"
                                            class="btn btn-sm btn-danger ml-1" title="reset password">
                                        <i aria-hidden="true" class="fa fa-key"></i>
                                    </button>
                                    <button (click)="viewUserDetails(user)"
                                            class="btn btn-sm btn-success ml-1" title="View User Details">
                                        <i aria-hidden="true" class="fa fa-envelope"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr *ngIf="listOfAllUsers.length === 0">
                                <td colspan="10">No Data found</td>
                            </tr>
                            </tfoot>
                        </table>
                        <table class="table d-none" id="excelDownload">
                            <thead>
                            <tr>
                                <th>S No</th>
                                <th>Name</th>
                                <th>Father Name</th>
                                <th>Mother Name</th>
                                <th>Gender</th>
                                <th>Marital Status</th>
                                <th>Date of Birth</th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>State</th>
                                <th>District</th>
                                <th>Mandal</th>
                                <th>Address</th>
                                <th>Employment Status</th>
                                <th>Employment Type</th>
                                <th>Dependents</th>
                                <th>Interested in Politics</th>
                                <th>Contest in Election</th>
                                <th>If yes how would you like to contest in election ?</th>
                                <th>In which Constituency would you like to contest in election?</th>
                                <th>How would you like to contribute?</th>
                                <th>About yourself</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of listOfAllUsers; let i = index;">
                                <td>{{i + 1}}</td>
                                <td>{{data.firstName + ' ' + data.lastName}}</td>
                                <td>{{data.fatherFirstName + ' ' + data.fatherLastName}}</td>
                                <td>{{data.motherFirstName + ' ' + data.motherLastName}}</td>
                                <td>{{data.gender}}</td>
                                <td>{{data.maritalStatus}}</td>
                                <td>{{data.dateOfBirth}}</td>
                                <td>{{data.phoneNumber}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.state}}</td>
                                <td>{{data.district}}</td>
                                <td>{{data.mandal}}</td>
                                <td>{{data.address}}</td>
                                <td>{{data.employmentStatus}}</td>
                                <td>{{apiService.getEmpType(data.employmentType)}}</td>
                                <td>{{data.dependents}}</td>
                                <td>{{data.interestInPolitics}}</td>
                                <td>{{data.isContestInElection}}</td>
                                <td>{{data.positionToContest}}</td>
                                <td>{{data.contestingConstituency}}</td>
                                <td>
                                    <ul>
                                        <li *ngFor="let data of data.typeOfContribution">{{apiService.getContr(data)}}</li>
                                        ,
                                    </ul>
                                </td>
                                <td>{{data.description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewUserDetailsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"><b><u><i>{{userName}}</i></u></b> details</h4>
        <span (click)="close()" title="Close Dialog">
            <span style="background: red;
    padding: 5px 7px;
    border-radius: 100%;
    color: #fff;"><i class="fa fa-close"></i></span>
        </span>
    </div>
    <div class="modal-body">
        <div class="tile">
            <div class="tile-body view-details">
                <div class="row" style="align-items: center">
                    <div class="col-sm-6 form-group">
                        <label class="control-label">First Name</label>
                        <p>{{data.firstName}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Last Name</label>
                        <p>{{data.lastName}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Father First Name</label>
                        <p>{{data.fatherFirstName}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Father Last Name</label>
                        <p>{{data.fatherLastName}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Mother First Name</label>
                        <p>{{data.motherFirstName}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Mother Last Name</label>
                        <p>{{data.motherLastName}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Mobile Number</label>
                        <p>{{data.phoneNumber}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Email</label>
                        <p>{{data.email}}</p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">DOB</label>
                        <p>{{data.dateOfBirth | date}}</p>
                    </div>
                    <div class="col-sm-4  form-group">
                        <label class="control-label">Gender</label>
                        <p>{{data.gender}}</p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Marital Status</label>
                        <p>{{data.maritalStatus}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">State</label>
                        <p>{{data.state || 'NA'}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">District</label>
                        <p>{{data.district || 'NA'}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Mandal</label>
                        <p>{{data.mandal || 'NA'}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Address</label>
                        <p>{{data.address || 'NA'}}</p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Employment Status</label>
                        <p>{{data.employmentStatus || 'NA'}}</p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Employment Type</label>
                        <p>{{apiService.getEmpType(data.employmentType)}}</p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Dependents</label>
                        <p>{{data.dependents || 'NA'}}</p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Interest in Politics ?</label>
                        <p>{{data.interestInPolitics || 'NA'}}</p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Contest in Election ?</label>
                        <p>{{data.isContestInElections || 'NA'}}</p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Election Type</label>
                        <p><span *ngFor="let data of data.positionToContest">{{data || 'NA'}},</span></p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Contesting Constituency</label>
                        <p>{{data.contestingConstituency || 'NA'}}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Description</label>
                        <p>{{data.description || 'NA'}}</p>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Contribution</label>
                        <ul>
                            <li *ngFor="let data of data.typeOfContribution">{{apiService.getContr(data) || 'NA'}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="close()" class="btn btn-sm btn-all-shadow waves-effect waves-light btn-danger"
                type="button">Close
        </button>
    </div>
</ng-template>

<!--password change modal-->
<ng-template #resetPasswordModal let-c="close" let-d="dismiss">
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPassForm" autocomplete="off">
    <div class="modal-header">
        <h6 class="modal-title form-head-line-style">
            <i aria-hidden="true" class="fa fa-key fa-1x"></i>
            You are updating PASSWORD for <b><u>({{userName}})</u></b>
        </h6>
    </div>
    <!--    <modal-content>-->
    <div class="modal-body">
            <div class="col-12">
            <div class="form-group col-xs-12">
                <div class="label-text form-check-label">Password: <span class="mandatory-field">*</span></div>
                <div class="input-group">
                <input [ngClass]="{'is-invalid': submitted && r.password.errors}" autofocus
                       class="form-control"
                       formControlName="password" id="password" name="password"
                       placeholder="enter password" required
                       type="{{showPassword ? 'text' : 'password'}}">
                    <div (click)="togglePasswordVisibility(!showPassword)" class="input-group-append pointer-event"
                         style="cursor: pointer;">
                                    <span class="input-group-text"
                                          title="{{showPassword ? 'Hide': 'Show'}}">
                                        <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i></span>
                    </div>
            </div>
                <div *ngIf="(r.password.invalid && (r.password.touched || r.password.dirty)) || submitted"
                     class="mt-1">
                    <span *ngIf="r.password.errors?.required" class="text-danger">Password is required</span>
                    <span *ngIf="r.password.errors?.minlength" class="text-danger">Password should be 6 or more</span>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="label-text form-check-label">Confirm Password: <span class="mandatory-field">*</span></div>
                <div class="input-group">
                <input [ngClass]="{'is-invalid': submitted && r.confirmPassword.errors}" autofocus
                       class="form-control"
                       formControlName="confirmPassword" id="confirmPassword" name="confirmPassword"
                       placeholder="enter password" required
                       type="{{showConfirmPassword ? 'text' : 'password'}}">
                <div (click)="toggleConfirmPasswordVisibility(!showConfirmPassword)"
                     class="input-group-append pointer-event" style="cursor: pointer;">
                                    <span class="input-group-text"
                                          title="{{showConfirmPassword ? 'Hide': 'Show'}}">
                                        <i [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i></span>
                </div>
            </div>
                <div *ngIf="(r.confirmPassword.invalid && (r.confirmPassword.touched || r.confirmPassword.dirty)) || submitted"
                     class="mt-1">
                    <span *ngIf="r.confirmPassword.errors?.required" class="text-danger">Confirm Password is required</span>
                    <span *ngIf="r.confirmPassword.errors?.minlength"
                          class="text-danger">Password should be minimum 6 characters</span>
                    <span *ngIf="r.confirmPassword.errors?.confirmPasswordValidator"
                          class="text-danger">Password and Confirm Password should be matched</span>
                </div>
            </div>
            </div>
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" class="btn btn-secondary btn-sm btn-all-shadow waves-effect waves-light"
                type="button">Close
        </button>
        <button class="btn btn-danger btn-sm btn-all-shadow waves-effect waves-light"
                type="submit">Submit
        </button>
    </div>
    </form>
</ng-template>
