<header class="app-header">
    <a class="app-header__logo d-flex align-items-center" href="">
        <h4 class="mb-0">VRP OFFICIAL</h4>
    </a>
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <!-- User Menu-->
        <li class="dropdown logOut-dropdown">
            <a class="app-nav__item waves-effect app-nav__img waves-light" href=""
               data-toggle="dropdown" aria-label="Open Profile Menu" style="padding: 0;">
                <div class="logOut-nav">
                        <div class="app-nav__user-name user-logOut-title m-auto">
                        <p class="mb-0"><b>{{currentUser.fullName | uppercase}}</b></p>
                        <p class="mb-0"><b><small>{{apiService.getRoleName(currentUser.role)}}</small></b></p>
                    </div>
                    <img class="app-nav__user-avatar user-logOut-icon" src="{{currentUser.profilePicUrl || 'assets/img/user-icon-placeholder.png'}}"
                         alt="User Image">
                </div>
            </a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li>
                    <a class="dropdown-item waves-effect waves-red" (click)="logout()"
                       style="cursor: pointer">
                        <i class="fa fa-sign-out fa-lg"></i> Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
<!--        <img class="app-sidebar__user-avatar" src="{{currentUser.profilePicUrl || 'assets/img/user-icon-placeholder.png'}}" alt="User Image">-->
<!--        <div>-->
<!--            <p class="app-sidebar__user-name">{{currentUser.fullName | uppercase}}</p>-->
<!--            <p class="app-sidebar__user-designation">-->
<!--                <small class="app-sidebar__user-designation">{{apiService.getRoleName(currentUser.role)}}</small>-->
<!--            </p>-->
<!--        </div>-->
    </div>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" href="#"
               [routerLink]="['/dashboard']"  [routerLinkActive]="['active']">
            <i class="app-menu__icon fa fa-dashboard"></i>
                <span class="app-menu__label">Dashboard</span>
            </a>
        </li>
        <li class="treeview" *ngIf="currentUser.role === 30">
            <a class="app-menu__item" href="#"
               [routerLink]="['/users']" [routerLinkActive]="['active']">
                <i class="app-menu__icon fa fa-users"></i>
                <span class="app-menu__label">Users</span>
            </a>
        </li>
        <li class="treeview" *ngIf="currentUser.role === 5">
            <a class="app-menu__item" href="#"
               [routerLink]="['/user-profile']" [routerLinkActive]="['active']">
                <i class="app-menu__icon fa fa-user-circle"></i>
                <span class="app-menu__label">Profile</span>
            </a>
        </li>
    </ul>
</aside>

<router-outlet></router-outlet>

